Package: dev.tqmane.gunshot.jailed
Name: GoToHP Jailed
Version: 0.3.0
Architecture: iphoneos-arm
Description: In-app GoToHP uploader for IPA injection and LiveContainer
Maintainer: tqmane
Author: tqmane
Section: Tweaks
Depends: firmware (>= 15.0)
Conflicts: dev.tqmane.gunshot
